/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #0a2342 0%, #274690 50%, #1b2845 100%);
}

/* Reset ul padding to make content stretch full width */
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}